.botaoRedG {
    background-color: #CDABAB;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

.botaoRedG:hover {
    cursor: pointer;
}

.botaoRedG h1 {
    color: white;
    font-size: 24px;
}