* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-size: 16px;
}

html, body, #root {
  background-color: #efefef;
  height: 100%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
