.divEndereco {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.divEndereco_titulo {
    background-color: #B8B8B8;
    padding: 5px 10px;
}

.divEndereco_endereco {
    background-color: #D3D3D3;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.divEndereco_endereco p {
    color:#414141;
    font-size: 12px;
    font-weight: bold;
}