.mainContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 60px;
}

.blocoDiaHorario {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
    width: 45%;
}

.blocoDiaHorario_calendarioHora {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.caminhaoInicio {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.blocoSeletores {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
    width: 55%;
    padding: 0 80px 20px;
    border-bottom: 2px solid #B8B8B8;
}

.blocoSeletores_divSeletores {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.itensAdicionados h1 {
    font-size: 22px;
}