.titulo {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
}

.container_form {
    display: flex;
    justify-content: space-around;
}

.container_form section {
    display:block;
    margin: 0 40px;
    padding: 10px 20px;
}

section.col_1 {
    float: left;
}

section.col_2 {
    float: right;
}

section p {
    display: block;
    margin-bottom: 10px;
}

.campoFormulario label input{
    width: 250px;
    border-radius: 6px;
    border: 0.5px solid #9d9d9d;
}

.container_btn_submit{
    display: flex;
    justify-content: right;
    padding: 5px;
    margin-top: 20px;
}

.container_btn_submit > button{
    width: 50%;
    padding: 10px;
    background-color: #4A9076;
    border-radius: 10px;
    color: #FFF;
}

.container_btn_submit > button:hover{
    background-color: #699082;
    color: #FFF;
}
