.mainLogin {
    display: flex;
    justify-content: center;
}

.boxLogin {
    background-color: #D3D3D3;
    width: 36%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 60px 80px;
    gap: 40px;
}

.divInputs {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 20px;
}

.divInputs input {
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    font-weight: 500;
}

.divInputs input:focus{
    outline-width: 1px;
    outline-color: gray;
}