.boxHorario {
    display: flex;
    flex-flow: column;
    background-color: #686DA1;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    padding-bottom: 60px;
    width: 300px;
    height: 350px;
    border-radius: 16px;
}

.boxHorario_titulo {
    background-color: #4F537B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 10px 20px;
    width: 40%;
}

.boxHorario_titulo h1 {
    color: white;
}

.boxHorario_horario {
    border: 1px solid #88CDFF;
    background: none;
    border-radius: 12px;
    padding: 10px 20px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.boxHorario_horario:hover {
    background-color: #4F537B;
    cursor: pointer;
}

.boxHorario_horario p {
    color: white;
}