.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: .2px solid #e7e2e2;
}

.navbar_logo {
    display: flex;
    height: 60px;
    width: 25%;
    justify-content: left;
}

.navbar_logo a img {
    height: 60px;
}

.navbar_links {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.navbar_links a {
    font-size: 20px;
    text-decoration: none;
    padding: 0 30px;
    color: #000;
}

.navbar_links a:hover {
    color: #64A822;
}

.navbar_usuario {
    display: flex;
    height: 60px;
    width: 25%;
    justify-content: right;
} 

.navbar_usuario a img {
    height: 60px;
}